<table class="table">
  <thead>
    <th>#</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Catidad a comprar</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let p of productos; let i = index">
      <td>{{i}}</td>
      <td>{{p.nombre}}</td>
      <td>{{p.descripcion}}</td>
      <td>${{p.precio}}</td>
      <td>{{p.cantidad}}</td>
      <td><button class="btn btn-secondary" type="button" (click)="quitar(p)" [disabled]="realizarPago">Quitar</button></td>
    </tr>
  </tbody>
</table>
<div align="right" >
  <button class="btn btn-primary" *ngIf="realizarPago===false" (click)="realizarCompra()">Realizar comprar</button>
</div>
<div *ngIf="realizarPago===true">
  <form [formGroup]="formulario" (ngSubmit)="comprar(formulario)">
    <div class="form-group col-sm-3">
      <label><b>Total a pagar: </b></label><input class="form-control" formControlName="total" type="text" [(ngModel)]="totalAPagar" readonly>
    </div>
    <div class="form-group col-sm-6">
      <label>Nombre del titular de la tarjeta: </label><input class="form-control" formControlName="cliente" type="text">
    </div>
    <div class="form-group col-sm-6">
      <label>Número de tarjeta: </label><input class="form-control" formControlName="numero" type="text">
    </div>
    <div class="form-group col-sm-3">
      <label>Fecha de vencimiento: </label><input class="form-control" formControlName="fecha" type="month">
    </div>
    <div class="form-group col-sm-3">
      <label>Clave de seguridad: </label><input class="form-control" formControlName="cve" type="text" maxLength="3" minLength="3">
    </div>

  <div align="right">
    <button class="btn btn-primary" type="submit" [disabled]="!formulario.valid">Comprar</button>
  </div>
  </form>
</div>

