@import '../../../../../assets/css/elegant-icons-style.css';
.btn1 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 3px 5px; /* Some padding */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 5px;
}

/* Darker background on mouse-over */
.btn1:hover {
  background-color: RoyalBlue;
}
