<!-- <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img
            src="../../assets/img/login.jpg"
            alt="login"
            class="login-card-img"
          />
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="../../assets/img/logo.svg" alt="logo" class="logo" />
            </div>
            <p class="login-card-description">Ingresa a tu cuenta</p>
            <form [formGroup]="formulario" (ngSubmit)="login(formulario.value)">
              <div class="form-group">
                <label for="email" class="sr-only">Correo electrónico</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  placeholder="Email"
                  formControlName="correo"
                />
              </div>
              <div class="form-group mb-4">
                <label for="password" class="sr-only">Contraseña</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  placeholder="***********"
                  formControlName="password"
                />
              </div>
              <button type="submit" class="btn btn-block login-btn mb-4">
                Ingresar
              </button>
            </form>
            <p class="login-card-footer-text">
              ¿No tienes una cuenta?
              <a href="#!" class="text-reset">Registrate aquí </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->

<body class="fondo-chido">
  <div class="container" style="height: 100vh;">
    <form class="login-form" style="background-color:rgba(213, 215, 222, 0.5);" [formGroup]="formulario" (ngSubmit)="login(formulario.value)">
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="email" name="correo" class="form-control" placeholder="Email" formControlName="correo" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Contraseña" formControlName="password">
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!formulario.valid">Ingresar</button>
        <div align="center">
          <a href="/registro" style="color: #000;">Registrarse</a>
        </div>

      </div>
    </form>
    <!-- <div class="text-right">
      <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div> -->
  </div>
</body>
