<div *ngIf="ventas.length > 0">
  <table class="table">
    <thead>
      <th>Correo</th>
      <th>Nombre</th>
      <th>Productos comprados</th>
      <th>Total pagado</th>
    </thead>
    <tbody>
      <tr *ngFor="let v of ventas; let i = index" >
        <td>{{v.correo}}</td>
        <td>{{v.nombre+' '+v.apellidoPaterno+' '+v.apellidoMaterno}}</td>
        <td>{{v.cantidadProductos}}</td>
        <td>${{v.totalVendido}}</td>
      </tr>
    </tbody>
  </table>
  <div align="right">
    <label>Total vendido: <b>${{total}}</b></label>
  </div>
  </div>
