<!-- <section class="panel">
  <header class="panel-heading">
    Form Elements
  </header>
  <div class="panel-body">
    <form class="form-horizontal " method="get">
      <div class="form-group">
        <label class="col-sm-2 control-label">Default</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Help text</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
          <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Rounder</label>
        <div class="col-sm-10">
          <input type="text" class="form-control round-input">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Input focus</label>
        <div class="col-sm-10">
          <input class="form-control" id="focusedInput" type="text" value="This is focused...">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Disabled</label>
        <div class="col-sm-10">
          <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Placeholder</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="placeholder">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Static control</label>
        <div class="col-lg-10">
          <p class="form-control-static">email@example.com</p>
        </div>
      </div>
    </form>
  </div>
</section> -->
<div class="fondo-chido">
  <div align="center">
    <div style="background-color:rgba(213, 215, 222, 0.5); width: 700px;">
      <form >
        <div class="row" style="padding: 30px;">
          <div class="col-sm-6" >
            <div class="form-group" align="left">
              <label class="control-label" style="color: #00177e;"><b>Nombre</b></label>
              <input class="form-control" type="text" name="nombre">
            </div>
            <div class="form-group" align="left">
              <label class="control-label" style="color: #00177e;"><b>Apellido Paterno</b></label>
              <input class="form-control" type="text" name="apPat">
            </div>
            <div class="form-group" align="left">
              <label class="control-label" style="color: #00177e;"><b>Apellido Materno</b></label>
              <input class="form-control" type="text" name="apMat">
            </div>
            <div class="form-group" align="left">
              <label class="control-label" style="color: #00177e;"><b>Correo</b></label>
              <input class="form-control" type="text" name="Correo">
            </div>
            <div class="form-group" align="left">
              <label class="control-label" style="color: #00177e;"><b>Contraseña</b></label>
              <input class="form-control" type="text" name="password">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" align="left">
              <label class="control-label" style="color: #00177e;"><b>Calle</b></label>
              <input class="form-control" type="text" name="calle">
            </div>
            <div class="form-group" align="left">
              <label class="control-label" style="color: #00177e;"><b>Colonia</b></label>
              <input class="form-control" type="text" name="colonia">
            </div>
            <div class="form-group" align="left">
              <label class="control-label" style="color: #00177e;"><b>Número</b></label>
              <input class="form-control" type="text" name="numero">
            </div>
            <div class="form-group" align="left">
              <label class="control-label" style="color: #00177e;"><b>Teléfono</b></label>
              <input class="form-control" type="text" name="telefono">
            </div>
            <div class="form-group" >
              <br>
              <button class="btn btn-primary" style="width: 200px;">Registrar</button>
            </div>
          </div>
        </div>
        <br>
      </form>
    </div>
    <!-- <form style="">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" style="color: #00177e;"><b>Nombre</b></label>
            <input class="form-control" type="text" name="nombre">
          </div>
          <div class="form-group">
            <label class="control-label" style="color: #00177e;"><b>Apellido Paterno</b></label>
            <input class="form-control" type="text" name="apPat">
          </div>
          <div class="form-group">
            <label class="control-label" style="color: #00177e;"><b>Apellido Materno</b></label>
            <input class="form-control" type="text" name="apMat">
          </div>
          <div class="form-group">
            <label class="control-label" style="color: #00177e;"><b>Correo</b></label>
            <input class="form-control" type="text" name="Correo">
          </div>
          <div class="form-group">
            <label class="control-label" style="color: #00177e;"><b>Contraseña</b></label>
            <input class="form-control" type="text" name="password">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" style="color: #00177e;"><b>Calle</b></label>
            <input class="form-control" type="text" name="calle">
          </div>
          <div class="form-group">
            <label class="control-label" style="color: #00177e;"><b>Colonia</b></label>
            <input class="form-control" type="text" name="colonia">
          </div>
          <div class="form-group">
            <label class="control-label" style="color: #00177e;"><b>Número</b></label>
            <input class="form-control" type="text" name="numero">
          </div>
          <div class="form-group">
            <label class="control-label" style="color: #00177e;"><b>Teléfono</b></label>
            <input class="form-control" type="text" name="telefono">
          </div>
          <div class="form-group">

          </div>
        </div>
    </form> -->
  </div>
</div>
