<form [formGroup]="formulario" (ngSubmit)="registrar(formulario)">
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="categoria">Categoría: </label>
      <select class="form-control" type="text" formControlName="categoria">
        <option value="null">Selecciona...</option>
        <option *ngFor="let c of categorias" [value]="c.id">{{c.descripcion}}</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label for="nombre">Nombre del producto: </label>
      <input class="form-control" type="text" formControlName="nombre">
    </div>
    <div class="form-group col-sm-4">
      <label for="codigo">Código: </label>
      <input class="form-control" type="text" formControlName="codigo">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <label for="cantidad">Cantidad: </label>
      <input class="form-control" type="number" formControlName="cantidad">
    </div>
    <div class="form-group col-sm-3">
      <label for="precioUnitario">Precio unitario: </label>
      <input class="form-control" type="text" formControlName="precioUnitario">
    </div>
    <div class="form-group col-sm-3">
      <label for="precio">Precio: </label>
      <input class="form-control" type="text" formControlName="precio">
    </div>
    <!-- <div class="form-group col-sm-3">
      <label for="stock">Stock: </label>
      <input class="form-control" type="number" formControlName="stock">
    </div> -->
    <div class="form-group col-sm-3">
      <label for="stock">Tienda: </label>
      <select class="form-control" type="text" formControlName="tienda">
        <option value="null">Selecciona...</option>
        <option value="PROPIA">Propia</option>
        <option value="MERCADO_LIBRE">Mercado Libre</option>
        <option value="AMAZON">Amazon</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12">
      <label for="descripcion">Descripción: </label>
      <textarea class="form-control" formControlName="descripcion" style="height: 150px;resize: none;"></textarea>
    </div>
  </div>
  <div align="right">
    <button class="btn btn-primary" type="submit" [disabled]="!formulario.valid">Registrar</button>
  </div>
</form>
